#menu "BROADCAST_DEVICE"

#
# Broadcast Device Driver Support
#

#menu "BROADCAST_DEVICE"

config LGE_BROADCAST_TDMB_FC8080
    bool "LGE broacast TDMB FC8080 device"
    depends on (LGE_BROADCAST_TDMB && MACH_MSM8916_YG_SKT_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8939_P1BSSN_SKT_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8916_C100N_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8916_PH1_KR) || (LGE_BROADCAST_TDMB && MACH_MSM8916_PH1_GLOBAL_COM)  || (LGE_BROADCAST_TDMB && MACH_MSM8916_K5_KR)
    default y
    help
      Select this if you want to use broadcast service

config LGE_BROADCAST_TDMB_MTV319
	bool "LGE broacast TDMB MTV319 device"
	depends on (LGE_BROADCAST_TDMB && MACH_MSM8916_YG_SKT_KR)
	default y
	help
	  Select this if you want to use broadcast service
#endmenu
