#
# Sensor drivers configuration
#

config SENSORS_CM36686
        bool "AL3320A Light Sensor"
        depends on I2C


config SENSORS_BMC156
        bool "BMC156 G-Sensor & E-compass"
        depends on I2C
config SENSORS_HALL
        bool "Hall sensor"
	depends on INPUT
        default n
        ---help---
         Say y here if you want to use this hall sensor driver, it
         is like a switch. For example, lid.

