#
# FocalTech FT6336 Touchscreen driver
#

config FT6336_TOUCHPANEL_DRIVER
	tristate "FocalTech FT6336 touchpanel driver"
	depends on TOUCHSCREEN_FT6336
	help
	  This is the main file for touchpanel driver for FocalTech FT6336
	  touchscreens.

	  Say Y here if you have a FocalTech FT6336 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT6336_update.

config FT6336_TOUCHPANEL_UPDATE
	tristate "FocalTech FT6336 touchpanel auto update support"
	depends on FT6336_TOUCHPANEL_DRIVER
	help
	  This enables support for firmware update for FocalTech FT6336
	  touchscreens.

	  Say Y here if you have a FocalTech FT6336 touchscreen connected
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT6336_update.

config FT6336_TOUCHPANEL_DEBUG
	tristate "FocalTech FT6336 Tools for debuging"
	depends on FT6336_TOUCHPANEL_DRIVER
	help
	  This is application debug interface support for FocalTech FT6336
	  touchscreens.

	  Say Y here if you want to have a Android app debug interface
	  to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called FT6336_update.
