#[PLATFORM]-Add-BEGIN by TCTSH.furong, 2014/11/18 add msg2638 TP
config TOUCHSCREEN_MSG2638            
       tristate "MSG2638 touchscreen"
       depends on I2C
       help
         Say Y here if you have a MSG2638 touchscreen on TCL RIO.
         If unsure, say N.
         To compile this driver as a module, choose M here: the
         module will be called MSG2638.
# [PLATFORM]-Add-END by TCTSH.furong
