# LGE Broadcast Device Driver Support.

menu "LGE Broadcast Device Support"

config LGE_BROADCAST_TDMB
    bool "LGE broadcast TDMB device Driver"
    depends on (MACH_MSM8916_G4STYLUSW_KT_KR) || (MACH_MSM8916_YG_SKT_KR) || (MACH_MSM8939_P1BSSN_SKT_KR) || (MACH_MSM8916_C100N_KR) || (MACH_MSM8916_PH1_KR) || (MACH_MSM8916_PH1_GLOBAL_COM) || (MACH_MSM8916_K5_KR)
    default y
    help
      Select this if you want to use TDMB broadcast service

source "drivers/broadcast/tdmb/Kconfig"
endmenu
