# Riven add SAR Driver
# Semtech Capacitive Touch Button driver configuration
menu "Semtech Cap Touch"

config INPUT_SX9500
	tristate "SX9500 based capacitive touch button"
	depends on I2C
	help
	  Say Y here if you have a SX9500.
	  If unsure, say N.
	  To compile this driver as a module, choose M here: the
	  module will be called sx8651.

endmenu

